{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% block title %}{% endblock %}

{% block content %}
        <div class="jumbotron">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <div class="card mb-3 w-100 bg-light">
                    <div class="card-header"><h4>登录</h4></div>
                    {{  render_form(form) }}

                </div>
            </div>
             <div class="col-md-4">

            </div>
        </div>
    </div>


{% endblock %}