<div class="card">
    <form action="{{ url_for('ajax.new_order') }}">
        <div class="card-body">
            <h6 class="card-title">邮箱</h6>
            <input name="email" type="text" value={{ order.email }}>
        </div>
        <div class="card-body">
            <h6 class="card-title">密码</h6>
            <input name="password" type="text" value={{ order.password }}>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">订单号:{{order.id}}</li>
            <li class="list-group-item">订单时间:{{ order.timestamp }}</li>
            <li class="list-group-item">到期时间:{{ order.expiretime }}</li>
            <li class="list-group-item">当前账号订购次数:{{ buy_times }}</li>
            <li class="list-group-item"></li>
        </ul>
        <div class="card-body">
            <h6 class="card-title">订单状态</h6>
            <p class="card-text">{{ order.status }}</p>
        </div>
        {% if order.status!='处理成功' %}

        <div class="card-body">
            <button type="submit" class="btn btn-secondary" >重新提交</button>
            <a class="btn btn-danger" href="{{ url_for('ajax.delete_order',order_id=order.id) }}">删除</a>
        </div>


        {% endif %}
    </form>

</div>

