{% from 'bootstrap/pagination.html' import render_pagination %}


<div id="table">
    <h3>未完成的订单</h3>
    {% for order in orders %}
        <div class="mycard" style="display: inline-block ;">
            <div class="card" style="width: 18rem; ">
                <ul>
                    <li><span>用户名: </span>{{ order.email }}</li>
                    <li><span>密码: </span>{{ order.password }}</li>
                    <li><span>下单时间: </span>{{ order.timestamp|formattime }}</li>
                </ul>

                {% if order.status!="正在处理" %}
                    <li class="list-group-item " style="color: red"> {{ order.status }} <a
                            class="btn btn-danger btn-sm"
                            style="float: right"
                            href="{{ url_for('ajax.delete_order',order_id=order.id) }}">删除</a>
                        {% else %}
                    <li class="list-group-item " style="color:#e5e600"> {{ order.status }}
                    <a class="btn btn-danger btn-sm"
                       style="float: right"
                       href="{{ url_for('ajax.delete_order',order_id=order.id) }}">删除</a>
                {% endif %}
                </li>
                </ul>
            </div>
        </div>
    {% endfor %}

    <hr>
    <hr>
    <h3>已完成的订单</h3>
    <table class="table table-striped " style="border-bottom: 1px solid #f0f2f7;">

        {% for order in orders_competed %}
            <div class="mycard" style="display: inline-block ;">
                <div class="card" style="width: 18rem; ">
                    <ul>
                        <li><span>用户名: </span>{{ order.email }}</li>
                        <li><span>下单时间: </span>{{ order.timestamp|formattime }}</li>
                        <li><span>到期时间: </span>{{ order.expiretime|formattime }}</li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </table>

</div>